/* assets/css/style.css */

/* Global Styles */
.topnav {
    display: flex;
    justify-content: left; /* Center the links in the navigation bar */
    align-items: center; /* Vertically center the links */
    background-color: #121212; /* Same background color */
    padding: 10px 0; /* Add padding to give some vertical space */
}

.topnav a {
    color: #FFD700; /* Yellow color for the links */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Font size similar to Google's */
    margin: 0 10px; /* Add horizontal space between the links */
}

.topnav a:hover {
    color: #FFFF00; /* Brighter yellow on hover */
}

.topnav a.active {
    font-weight: bold; /* Highlight the active page */
}


body {
    background-color: #121212; /* Similar color to Chrome's dark background*/
    color: #f0f0f0;            /* Light text color */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    /* margin: 0;
    padding: 0; */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: inherit;
    /* margin-top: 1.5em; */
}

/* Links */
a {
    /* color: #1e90ff;*/ /* Dodger blue for links */
    color: #ffff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main Content Container */
.main-content {
    max-width: 800px;
    /* margin: 0 auto;
    padding: 2em; */
}

/* Post List Styles */
.post-list {
    list-style-type: none;
    padding: 0;
}

.post-list li {
    margin-bottom: 2em;
}

.post-list h2 {
    margin-bottom: 0.5em;
}

.post-list p {
    margin: 0.5em 0;
}
